:root {
    --text-primary-color: #fff;
    --text-bg-1: #2c2c2c;
    --text-bg-2: #3c3c3c;
    --padding: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    min-height: 100vh;
    background: url(/jason-leung-poI7DelFiVA-unsplash.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    filter: saturate(0);

}

header:hover {
    filter: saturate(1);
}

header h2 {
    color: azure;
}

main {
    background-color: var(--text-bg-1);
    color: var(--text-primary-color);
    padding: var(--padding);
}



.section-title {
    text-align: center;
}

.skills {
    min-height: 80vh;

}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 70vh;
}


.card {
    width: 25%;
    background-color: bisque;
    color: #000;
    padding: 20px;
}

.card:hover {
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(205, 202, 202, 0.5);
}

footer {
    background-color: var(--text-bg-2);
    padding: 1rem;
    color: var(--text-primary-color);

}


nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: burlywood;
    z-index: 1;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 20px;
        font-size: 2rem;
        padding: 10px;

        li {
            color: white !important;
        }
    }
}

nav a {
    text-decoration: none;
    color: #000;
    transition: all 0.4s linear;
}

nav a:hover {
    text-decoration: underline;
    color: brown;
}

.tutorial-parent {
    min-height: 80vh;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.tutorial {
    min-height: 20vh;
    min-width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(154, 168, 163);
    transition: all 0.1s linear;
}

.tutorial:hover {
    background-color: bisque;
    color: black;
}


/* team member section starts*/
.team-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
}

.team-members {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
}

.team-member {
    background-color: white;
    color: #000;
    padding: var(--padding);
}



/* team member section ends*/
/* footer section starts here */

footer p {
    text-align: center;
}

/* footer section ends here */


/* animation section  */
#animation-container {
    text-align: center;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.circle {
    height: 200px;
    width: 200px;
    position: relative;
    background-color: khaki;
    border-radius: 50%;
    /* animation-name: circle-animation;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
    animation: circle-animation 4s linear infinite;
}

@keyframes circle-animation {
    0%{
        top: 0;
        left: 0;
    }
    25%{
        background-color: green;
        top: -150px;
        left: 0;
    }
    50%{
        background-color: bisque;
        top: 0;
        left: 0;
    }
    75%{
        background-color: blueviolet;
        top: 150px;
        left: 0;
    }
    100%{
        background-color: yellowgreen;
        top: 0;
        left: 0;
    }
}




/* animation section ends */
















































































/* media querry starts */

@media screen and (max-width: 992px) {
    .tutorial-parent {
        /* background-color: red; */
    }

    .team-members {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .tutorial-parent {
        /* background-color: burlywood; */
    }

    .team-members {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 600px) {

    header {
        display: none;
    }

    .tutorial-parent {

        flex-direction: column;

    }

    .tutorial {
        width: 80%;
        color: #000;
    }

    .team-members {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        width: 80%;
        gap: 2rem;
    }

    .skills {
        padding: 2rem 0;
        /* background-color: yellow; */
    }

    .row {
        flex-direction: column;
    }

    .row .card {
        width: 80%;
    }

}


/* media querry ends */