/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

header{
    height: 100vh;
    background: url(/jason-leung-poI7DelFiVA-unsplash.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;

    
}
header h2{
    color: azure;
}